MYSQL_DATABASE_URI=mysql+asyncmy://USERNAME_HERE:PASSWORD_HERE@database:3306/Portfolio
ALEMBIC_URI=mysql+pymysql://USERNAME_HERE:PASSWORD_HERE@database:3306/Portfolio
MYSQL_DATABASE_NAME=DATABASE_NAME_HERE
MYSQL_USER=NAME_HERE
MYSQL_DATABASE_PASSWORD=PASSWORD_HERE
JWT_SECRET_KEY=SECRET_JWT_KEY_HERE
PMA_PASSWORD=PMA_PASSWORD_HERE
BACKEND_URL=BACKEND_URL_HERE
