MYSQL_DATABASE_URI=mysql+asyncmy://USERNAME_HERE:PASSWORD_HERE@HOST_HERE:3306/Portfolio
MYSQL_DATABASE_NAME=DATABASE_NAME_HERE
MYSQL_USER=NAME_HERE
MYSQL_DATABASE_PASSWORD=PASSWORD_HERE
JWT_SECRET_KEY=SECRET_JWT_KEY_HERE
PMA_PASSWORD=PMA_PASSWORD_HERE
